#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}


.stock-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.stock-form p {
  margin: 5px;
}

.stock-form input {
  margin: 0 10px;
}

.stock-form button {
  background-color: rgb(58, 128, 230);
  color: white;
  border-radius: 10px;
  padding: 0 20px;
  border: none;
}
